// $color: purple;
// // direct descendant of main
// #board-container > h1 {
//     border: 4px solid $color;
//     padding: 20px;
// }

#pad {
        width: 100%;
        height: 100%;
        background-color: pink;
        border: 1px solid gray;
        cursor: pointer;
}

#board-container :hover {
    background-color: rgb(151, 140, 140);
}