@import "./styles/reset.scss";
@import "./styles/board.scss";

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 50px; /* Adjust the font size as needed */
    margin-top: 50px; /* Adjust the margin-top as needed */
    color: bisque;
    text-shadow: 2px 2px 4px brown;
}

body {
    background-image: url(https://img1.picmix.com/output/stamp/normal/2/0/5/6/316502_7f4ce.gif);
}

#buttons-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
}

#buttons-wrapper button {
    color: rgb(164, 121, 69);
    text-shadow: 2px 2px 4px;
    padding: 10px;
    font-size: 20px;
    background-color: blanchedalmond;
    border: 1px solid rgb(199, 163, 163);
    cursor: pointer;
}

#board-wrapper {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 800px;
    margin: 0 auto;
    padding-top: 40px;
}

#board-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    // grid-template-rows: repeat(10);
    gap: 4px;
    max-width: 600px;
    margin: 0 auto;
    border: 1px solid black;
    height: 800px;
}  




